# Ignora i salvataggi e i progressi personali
repertoire.json
repertoire.json.bak
repertoire.json.tmp

# Ignora i file di sistema del Mac
.DS_Store

# Ignora le cache di Python
__pycache__/
*.pyc

# Ignora le istruzioni locali di Claude
CLAUDE.md

# Ignora la cartella di Claude con il json dentro
.claude/

# ignora il file di testo con le istruzioni per il miglioramento
PIANO_MIGLIORE.md

# ignora file md roadmap
ROADMAP_CHESSBASE.md